@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 80px;
    align-items: center;
    background-image: url('https://i.ibb.co/YPCBKMP/volunteers-750x421.png');
    background-size: cover;
}

header img {
    width: 150px;
}

nav {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

nav button {
    padding: 8px 20px;
    border: 0;
    border-radius: 5px;
}

nav button:nth-child(5) {
    background-color: #3F90FC;
    color: white;
}

nav button:nth-child(6) {
    background-color: black;
    color: white;
}

nav button:nth-child(5):hover {
    background-color: #3f91fcbb;
    color: white;
}

nav button:nth-child(6):hover {
    background-color: rgba(0, 0, 0, 0.772);
    color: white;
}

.sm-icon,
.sm-menu {
    display: none;
}

.sm-icon img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    position: absolute;
    right: 20px;
    top: 15px;
}

.sm-menu nav {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    position: absolute;
    flex-direction: column;
    top: 80px;
    right: 20px;
    z-index: 1000;
    background-color: #FFBC3E;
    padding: 10px 5px;
}

@media only screen and (max-width:700px) {
    header {
        padding: 10px 30px;
        align-items: center;
        background-image: none;
        position: relative;
    }

    nav {
        display: none;
    }

    .sm-icon,
    .sm-menu {
        display: block;
    }
}